<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<config>
    <add key="repositoryPath" value="%NugetMachineInstallRoot%\.cbt" />
    <add key="globalPackagesFolder" value="%NugetMachineInstallRoot%\.cbt" />
  </config>-->
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <!--<activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>-->
  <packageSources>
    <clear />
    <add key="Intune_Consumption-Common" value="https://pkgs.dev.azure.com/msazure/_packaging/Intune_Consumption-Common/nuget/v3/index.json" />
  </packageSources>
</configuration>
